<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Water Quality Dashboard</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
  <div id="plot1"></div>
  <div id="plot2"></div>
  <div id="plot3"></div>
  <div id="plot4"></div>
  <div id="plot5"></div>
  <div id="plot6"></div>
  <div id="plot7"></div>
  <div id="plot8"></div>
  <div id="plot9"></div>
  <div id="plot10"></div>
  <div id="plot11"></div>
  <div id="plot12"></div>
  <div id="plot13"></div>
  <div id="plot14"></div>
  <div id="plot15"></div>
  <div id="plot16"></div>
  <div id="plot17"></div>
  <div id="plot18"></div>
  <div id="plot19"></div>
  <div id="plot20"></div>

  <!-- Add other plot divs here -->

  <script src="app.js"></script>
</body>
</html>
